@font-face {
    font-family: 'BigNoodleTitling';
    src: url('../font/BigNoodleTitling/BigNoodleTitling.ttf') format('truetype');
}

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --color-blue: #00a2e8;
}

body {
    font-family: "Poppins", sans-serif;
}

.font-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #0a0a0a;
}

.brand-font {
    font-size: 30px;
    font-family: 'BigNoodleTitling', sans-serif !important;
}

.text-brand {
    color: #00a2e8 !important;
}

.img-service {
    width: 60px;
    height: 60px;
    object-fit: cover:
}

.img-game {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 15px;
}

.btn-news {
    background: none;
    border: none;
}

.sosmed {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #dddddd;
    color: #000;
}

.cursor-pointer {
    cursor: pointer !important;
}

#profileTab .nav-link {
    display: block;
    padding: 0.7rem 0.9rem;
    margin-bottom: 5px;
    color: #74788d;
}

#profileTab .nav-link:hover {
    background-color: #f2f3f7;
}

#profileTab .nav-link.active {
    background-color: #f2f3f7 !important;
    color: #366cf3 !important;
}

.input-group-append .btn {
    padding: 0 0.75rem;
}

.text-muted {
    color: #b0b0b0 !important;
}

.dropdown.header-notify .dropdown-menu {
    width: 350px;
}

.tabs-menu1 ul li a {
    padding: 10px 15px 10px 15px;
}

.tabs-menu ul li a {
    margin: 3px 0px 3px 0;
}

#newsModal .bg-warning {
    background-color: rgba(255, 202, 74, 0.3) !important;
    color: #ffca4a !important;
}

@media (max-width: 576px) {
    .tabs-menu1 .tab-menu-heading {
        padding: 10px;
    }

    .tabs-menu1 .nav {
        flex-wrap: nowrap;
    }

    .tabs-menu1 ul li {
        width: 100%;
        margin: 10px;
    }
}